<div>
    <div class="page-background"></div>
    <div id="login-container">
        <img id="logo-in-login-form" src="./imgs/wspolnota-zlowieni.jpg" alt="">
        <div class="title-form" translate-id="title-form-login">...</div>
        <form id="login-form">
            <input type="email" id="user-login" class="input-text" translate-id="login-form-input-email" placeholder="">
            <input type="password" id="user-password" class="input-text" translate-id="password-form-input-email" placeholder="">
            <div class="error-login" translate-id="incorrect-login-auth-message" style="visibility: hidden">...</div>
            <input type="button" class="login-btn" translate-id="login-user-button" value="">
        </form>
    </div>
</div>